<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
<!--    <link rel="stylesheet" href="/static/output.css">-->
</head>
<body id="body">
<section class="bg-gray-50 min-h-screen flex items-center justify-center relative">
    <div class="bg-gray-50 px-4 py-3 absolute left-0 top-1">
        <h1 class="text-3xl font-bold text-purple-900 font-serif">NeoMovie</h1>
    </div>
<div class="rounded-2xl px-4 py-3 w-[350px] bg-white shadow-md">
    <div class="w-full border-b border-gray-300">
        <h1 class="font-bold text-3xl text-blue-600 mt-4 mb-2">Register now</h1>
        <p>Good to have you with us</p>
    </div>
    <input type="text" placeholder="Full Name" class="p-2 rounded-md mt-8 ring-blue-300 focus:ring-4 focus:outline-none w-full bg-gray-100 border" id="name">
    <input type="email" placeholder="Email" class="p-2 rounded-md mt-8 ring-blue-300 focus:ring-4 focus:outline-none w-full bg-gray-100 border" id="email">
    <input type="password" placeholder="Password" class="p-2 rounded-md mt-8 ring-blue-300 focus:ring-4 focus:outline-none w-full bg-gray-100 border" id="password">
    <input type="password" placeholder="Confirm Password" class="p-2 rounded-md mt-8 ring-blue-300 focus:ring-4 focus:outline-none w-full bg-gray-100 border" id="cPass">
    <button class="w-full text-center p-2 bg-blue-500 rounded-md mt-8 font-bold text-lg text-white hover:bg-blue-400" onclick="doRegister()" type="button">Register</button>
    <div class="border-t border-black mt-4 w-full">
        <div class="flex justify-between mt-4">
            <h1 class="py-1">Already have an account?</h1>
            <a href="/login" class="text-blue-600 font-semibold hover:scale-105 ease-in-out px-3 py-1 border rounded-md shadow-md">Login</a>
        </div>
    </div>
</div>
</section>
</body>
<script src="/javascript/register.js"></script>
<script src="/javascript/toast.js"></script>
</html>